#item_title {
border-radius: 20px;
}

#item_color {
border-radius: 20px;
}
#item_category{
border-radius: 20px;
}
#item_size{
border-radius: 20px;
}
input {
  border-radius: 20px;
}
#item_price{
border-radius: 20px;
}
#item_pickup_location{
border-radius: 20px;
}

#item_description{
border-radius: 20px;
}
#item_style_photo {
border-radius: 20px;
}
#item_individual_pieces{
border-radius: 20px;
}

label {
  font-weight: bold;
  font-size: 20px;
}
