<!-- now style foto appears on the card -->

<a href=<%="/items/#{item_within.id}" %> >
  <div class="card-product">
    <%= image_tag item_within.style_photo, class: "card-img-top", alt: "alttext" %>
    <div class="card-product-infos">
      <h2><%= item_within.title %></h2>
      <p>Price: <strong><%= item_within.price %> €</strong></p>
    </div>
  </div>
</a>
