<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%=item_within.title %></h2>
    <p><%= item_within.category + " " + item_within.price.to_s %>€ </p>
  </div>
</div>
