<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

 <%#= simple_form_for @item do |f| %>
        <%#= f.input :category %>
        <%#= f.input :pickup_location %>
        <%#= f.input :start_date%>
        <%#= f.input :end_date %>
        <%#= f.association :size%>
        <%#= f.button :submit, "ðŸ”", class: 'btn btn-primary' %>
        <%#= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure you want to delete this cocktail?' } %>
  <%# end %>
