
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="container d-flex">
    <% @items.each do |item| %>
      <%= render 'shared/card', item_within: item %>
    <% end %>
  </div>
</div>
