<div class="container px-0" style='width: 1000px'>
  <%#= link_to 'Borrow now', new_item_booking_path(@item), :class => 'btn btn-primary' %>
  <%#= render 'bookings/form' %>
  <!-- Form -->
  <%= render 'bookings/form', :booking => @booking %>
</div>

